%h1 Komentarze

Zalogowano:
=current_user.email
=link_to 'wyloguj', destroy_user_session_path, method: :delete

%br
%br

%h3 Lista komentujących użytkowników
-@comments.each do |comment|
	%li
		%br
		Autor: 
		=comment.comment_author