%h1 Dodaj komentarz
=form_for(@comment) do |f|
	=f.label "Zalogowano: " 
	=current_user.email
	%br
	%br
	=f.label "Treśc komentarza: " 
	=f.text_field :comment_content
	
	=f.submit "Dodaj!"
%br 
=link_to "Powrót", posts_path
%br
=link_to "Powrót do Strony Głównej", root_url