

.container
	.w50.center-block
		Zalogowano
		=current_user.email
		=link_to "wyloguj", destroy_user_session_path, method: :delete
		%h1.text-center Dodaj komentarz
		-if @comment.errors.present?
			-@comment.errors.full_messages.each do |err|
				%li=err
		=form_for(@comment) do |f|
			=f.hidden_field :post_id, value: params[:post_id]
			=f.label 'Treść'
			%br
			=f.text_area :content
			=f.submit 'Dodaj!'
			
		=link_to "Powrót", post_path(params[:post_id]), method: :get
		%br
		=link_to "Strona Główna", root_url
