%h1 Dodaj post
=form_for(@post) do |f|
	=f.label "Zalogowano: " 
	=current_user.email
	%br
	%br
	=f.label "Treśc postu: " 
	=f.text_field :content
	
	=f.submit "Dodaj!"
%br 
=link_to "Powrót", posts_path
%br
=link_to "Powrót do Strony Głównej", root_url