.container
	.w50.center-block
		%h1.text-center Dodaj post
		=form_for(@post) do |f|
			.form-group
			=f.label "Zalogowano: " 
			=current_user.email
			.form-group
			=f.label "Tytuł postu: "
			=f.text_field :title
			%br
			=f.label "Treśc postu: " 
			=f.text_field :content
	
			=f.submit "Dodaj!", class: "btn, btn-primary"
		
		=link_to "Powrót", posts_path
		=link_to "Strona Główna", root_url