.container
	.w50.center-block

		%h1 
			Tytuł: 
			=@post.title
		=@post.content
		%br
		=@post.author
		%br
		=link_to "Powrót", posts_path
		= link_to "Komentuj", new_comment_path(post_id: @post.id), method: :get

.container
	.w50.center-block

		%h2 Komentarze:
		%ul
			-@post.comments.each do |comment|
				%li
					=comment.content
					%br
					dodał:
					=comment.user.email
					-if current_user.email==comment.user.email
						=link_to "Usuń", comment_path(comment.id), method: :delete